@font-face {
  font-family: 'MuseoSansCyrl-900';
  src: url('MuseoSansCyrl-900.woff') format('woff'),
       url('MuseoSansCyrl-900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
